<!--

<router-outlet>
        <app-navegacion>
            
        </app-navegacion>

        <div style="background-color: rgb(230, 232, 240); height: 00px;"  class="uno">

        </div>    
        

   <div style="background-color: rgb(180, 183, 231); height: 7100px;"  class="uno">

        </div>    

        

</router-outlet> -->

<div id="app">
    <style>
      
    </style>
  
    <!--col-md-12 col-xs-12  offset-md-0
  para la class man -->
  <div class="">
  
      <router-outlet></router-outlet>
    </div>  
  </div>